<% if !comment.body.nil? %>
  <div class="new_comment">
    <div class="clearfix">
      <ul class="user_comment">
        <div class="comment_body">
          <p class="comment-name user"><span><%= comment.name %></span></p>
          <p class="commnet-body"><%= comment.body %></p>
        </div>
        <div class="comment_toolbar">
          <div class="comment_details">
            <ul>
              <li><%= time_ago_in_words(comment.created_at) %> ago</li>
              <li><%= comment.created_at.strftime('%d/%m/%Y') %></li>
              <li><span class="user"><%= comment.name %></span></li>

              <% if user_signed_in? %>
                <li id="delete_button">
                  <%= link_to 'Delete', [comment.post, comment], method: :delete, class: 'button', data: { confirm: 'Are you sure?' } %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>  
      </ul>
    </div>
  </div>
<% end %>
