<div class="create_new_comment">
  <%= form_with model: [@post, @post.comments.build] do |f| %>
    <div class="input_comment">
      <p>
        <%= f.label "Name:" %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.text_area :body, placeholder: "Join the conversation.." %>
      </p>
      <br>
      <p>
        <%= f.submit %>
      </p>
    </div>
  
  <% end %>
</div>

