<div id="post-content">
  <h1 class="title">
    <%= @post.title %>
  </h1>
  <p class="date-and-author">
    Posted <%= time_ago_in_words(@post.created_at) %> ago 
    <% if user_signed_in? %>
      | <strong> <%= link_to 'Edit', edit_post_path(@post) %> </strong>
      | <strong> <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %> </strong> 
    <% end %>
  </p>
  <p class="body">
    <%= @post.body %> 
  </p>

  <div id="comments">
    <h3>What are your thoughts? Leave a reply:</h3>
    <%= render 'comments/form' %>
    <div class="comment_block">
      <h2><%= @post.comments.count %> Comments</h2>
      <%= render :partial => 'comments/comment', :collection => @post.comments.order("created_at DESC") %>
    </div>
  </div>
</div>
